<header>
    <img 
    src="assets/img/eugenia-paim.jpg"alt="Eugênia Paim" 
    with="130" height="130"
    loading="eager">
    <h1>Eugênia Paim</h1>
    <h2></h2>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedora Front-end</p>
        <p>Porto Alegre/RS, Brasil</p>
        <p>Estou na área de desenvolvimento web desde 2019.</p>

        <nav >
            <ul>
                <li><a href="https://www.linkedin.com/in/eugenia-paim-dev/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                <li><a href="https://github.com/eugeniapaim" target="_blank" class="btn btn-secondary">GitHub</a></li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg"
                 alt="Eugênia Paim" 
                 width="22px" 
                 height="24px">
                 <figcaption>
                    <a href="https://wa.me/5551984438083" target="_blank" class="btn btn-success">
                        <strong> Envie uma mensagem para:</strong>
                        <p>WhatsApp: 51 98443-8083</p>
                    </a>
                 </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg"
                 alt="Email Icon" 
                 width="22px" 
                 height="24px">
                 <figcaption>
                    <a href="mailto:eugheniasp@gmail.com" target="_blank" class="btn btn-success">
                        <strong> Envie um email para:</strong>
                        <p>eugheniasp@gmail.com</p>
                    </a>
                 </figcaption>
            </figure>
        </section>

    </div>
</aside>